@using Microsoft.AspNetCore.Http
@model System.String



@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>@base.ViewBag.User1</h2>
<h2>@base.ViewData["User2"]</h2>
<h2>@base.TempData["User3"]</h2>

<h2>Model</h2>


<h2> @base.Context.Session.GetString("User5")  </h2>






