@{
    Layout = null;
    ViewData["Title"] = "ETest Controller InfoFromUriHttpClient";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ETest Controller InfoFromHttpClient</title>
</head>
<body>
    <h1>ETest Controller InfoFromHttpClient</h1>

    <h1>@base.ViewBag.Data</h1>








</body>

























