@page "/parent"



<h3>ParentComponent</h3>

<p>
    Parent Current Count: @currentCount
</p>

<p>
    delegate Count: @delegateCount
</p>



<ChildComponent 
   SetCurrentCount="SetCurrentCountFunction"
   SetCount="FunctionToChildDelegate" 
></ChildComponent>




@code {
    private int currentCount;

    private int delegateCount;

    private void SetCurrentCountFunction(int value)
    {
        currentCount = value;
    }


    private void FunctionToChildDelegate(int value)
    {
        delegateCount = value + 10;
        StateHasChanged();
    }

}
