@page "/parent"



<h3>ParentComponent</h3>

<p>
    Parent Current Count: @currentCount
</p>

<p>
    delegate Count: @delegateCount
</p>


<button class="button" @onclick= "updateChildComponent"> Show Child Component </button>


<ChildComponent 
   @ref="childRef"
   SetCurrentCount="SetCurrentCountFunction"
   SetCount="FunctionToChildDelegate" 
></ChildComponent>


<br/>
<br/>

<button class="button" @onclick="updateDialogComponent"> show dialog </button>

<DialogComponent 
@ref="dialogRef">  

</DialogComponent>




@code {
    private int currentCount;

    private int delegateCount;

    private void SetCurrentCountFunction(int value)
    {
        currentCount = value;
    }


    private void FunctionToChildDelegate(int value)
    {
        delegateCount = value + 10;
        //StateHasChanged();
    }


    private ChildComponent childRef;

    private void updateChildComponent()
    {
        childRef.DiaplayStatusChange();
    }



    private DialogComponent dialogRef;

    public void updateDialogComponent()
    {
        dialogRef.DiaplayStatusChange();
        
    }

}
