@page "/"
@page "/StateManagement"



@inject CounterStore counterStore
@inject CounterStoreWithDispatcher counterStoreWithDispatcher
@inject IActionDispatcher actionDispatcher

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />
<br />


<p>  Current Count: @currentCount   </p>

<p>  Counter Store: @counterStore.GetState().Count   </p>

<p>  Counter Store WithDispatcher: @counterStoreWithDispatcher.GetState().Count   </p>


@code {
    private int currentCount = 0;


    protected override void OnInitialized()
    {
        base.OnInitialized();

        counterStore.AddStateChangeListeners(UpdateView);

        counterStoreWithDispatcher.AddStateChangeListeners(UpdateView);

    }


    private void IncrementCount()
    {
        currentCount++;

        counterStore.IncrementCount();


        actionDispatcher.Dispatch(new IncrementAction());

    }



    //fix memory leaking. 
    public void Dispose()
    {
        counterStore.RemoveStateChangeListeners(UpdateView);
    }


    private void UpdateView()
    {
        StateHasChanged();
    }
}
