@{
    //Layout = null;
    ViewData["Title"] = "ETestApi Controller CallServiceFromConsul";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ETestApi Controller CallServiceFromConsul</title>
</head>
<body>
    <h1>ETestApi Controller CallServiceFromConsul</h1>

<h3>@base.ViewBag.Message </h3>  
    
</body>
</html>