@if(display)
{

<h3>ChildComponent</h3>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />
<br />


<p> 
    ChildComponent CounterValue: @currentCount
</p>

}

@code {


    private int currentCount = 0;


    [Parameter]
    public EventCallback<int> SetCurrentCount{ get; set; }

    [Parameter]
    public Action<int> SetCount{ get;  set; }


    private void IncrementCount()
    {
        currentCount+= 2;

        //invoke EventCallback, value is not necessay
        SetCurrentCount.InvokeAsync(currentCount);

        //invoke action, delegate must have value, otherwise will have error
        SetCount(currentCount);

    }


    private bool display=false;




    public void DiaplayStatusChange()
    {
        this.display = !this.display;
    }


}


