<div class="ml-5">

<h3 style="color: @Color">-----------------Component2---------------</h3>

<p> 
    Component2 ReceivedCounterValue: @ReceivedCounterValue
</p>

<h3 style="color: @Color">-----------------Component2---------------</h3>
</div>
@code {
    [CascadingParameter(Name = "Counter")] //get cascading value from parameter
    public int ReceivedCounterValue { get; set; }


    [CascadingParameter(Name = "TitleColor")]
    public string Color { get; set; }

}