@using System.Diagnostics
<html>
<body>
    <h3>----------------------Component3---------------------------</h3>
    <div @onclick=TopLevelClicked>
        <h1>Top level</h1>
        <div @onclick=SecondLevelClicked @onclick:stopPropagation>
            <h2>Second level</h2>
            <div @onclick=ThirdLevelClicked>
                <h3>Third level</h3>
            </div>
        </div>
    </div>



    <div onclick="console.log('JS Top level clicked')">
        <h1>Top level</h1>
        <div onclick="console.log('JS Second level clicked')">
            <h2>Second level</h2>
            <div onclick="console.log('JS Third level clicked')">
                <h3>Third level</h3>
            </div>
        </div>
    </div>




</body>
</html>

@code {

    private void TopLevelClicked()
    {
        Debug.WriteLine("Top level clicked");
    }
    private void SecondLevelClicked()
    {
        Debug.WriteLine("Second level clicked");
    }

    private void ThirdLevelClicked()
    {
        Debug.WriteLine("Third level clicked");
    }

}
