@typeparam TItem

<table class="table is-fullwidth">
    <thead>
        <tr>
            @if(Columns == null || Columns.Count <=0)
            {
                //create header with reflection


            }
            else
            {
                //Create header based on column definitions.
                foreach(var column in Columns)
                {
                    <th> @column.Caption </th>
                }

            }


        </tr>
    </thead>
</table>




@code {

    [Parameter]
    public List<TItem> DataItems{ get; set; }


    [Parameter]
    public List<ColumnDefinition> Columns{ get; set; }

}




