@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<ChildComponent>
    <BodyTemplate>
        <button @onclick="ClickBody"> click in ChildComponent RenderFragment inside Counter</button>

    </BodyTemplate>

</ChildComponent>




@code {

    private int currentCount = 0;
    private Timer timer;


    protected override void OnInitialized()
    {
        base.OnInitialized();

        timer = new Timer(2000);
        timer.Elapsed += OnTimeEvent;
        timer.Enabled = true;
    }


    private void OnTimeEvent(object source, ElapsedEventArgs e)
    {
        IncrementCount();
        Console.WriteLine($"Counter value: {this.currentCount}");
    }

    private void IncrementCount()
    {
        //not UI event, so not trigger rendering 
        currentCount++;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        Console.WriteLine("Counter OnAfterRender()");  
    }



    private void ClickBody()
    {

    }

}
