@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<p role="status">Current count manual: @currentCountManual </p>


<button class="btn btn-primary" @onclick="IncrementCount"> IncrementCount </button>

<button class="btn btn-primary" @onclick="IncrementCountManual"> IncrementCountManual </button>


<ChildComponent CounterParameter="currentCountManual">
    <BodyTemplate>
        <button @onclick="ClickBody"> click in ChildComponent RenderFragment inside Counter</button>

    </BodyTemplate>

</ChildComponent>


<h3>-------------------------------------------------------------------</h3>


<button class="btn btn-primary" @onclick="updateChildNonParameterCounter"> updateChildNonParameterCounter </button>
<button class="btn btn-primary" @onclick="updateChildNonParameterCounterNORefresh"> updateChildNonParameterCounterNORefresh </button>
<ChildComponent @ref="child" ></ChildComponent>



<h3>-------------------------------------------------------------------</h3>



@code {

    private int currentCount = 0;

    private Timer timer;


    private int currentCountManual = 0;


    private ChildComponent child;


    protected override void OnInitialized()
    {
        base.OnInitialized();

        timer = new Timer(2000);
        timer.Elapsed += OnTimeEvent;
        timer.Enabled = true;
    }


    private void OnTimeEvent(object source, ElapsedEventArgs e)
    {
        IncrementCount();
        Console.WriteLine($"Counter value: {this.currentCount}");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        Console.WriteLine("Counter OnAfterRender()");  
    }

    private void ClickBody()
    {
        Console.WriteLine($"Counter ClickBody() at{DateTime.Now.ToString("hh:mm:ss.fff")}");
    }


    private void IncrementCount()
    {
        //not UI event, so not trigger rendering 
        currentCount++;
        
    }
    
    private void IncrementCountManual()
    {   
        //update manual count
        currentCountManual = currentCountManual + 10;
    }


    private void updateChildNonParameterCounter()
    {
        child.nonParameterCounter = child.nonParameterCounter + 9;
        child.Refresh();
        Console.WriteLine($"Counter updateChildCounterParameter() at{DateTime.Now.ToString("hh:mm:ss.fff")}");
    }

    
    private void updateChildNonParameterCounterNORefresh()
    {
        child.nonParameterCounter = child.nonParameterCounter + 9;
        //child.Refresh();
        Console.WriteLine($"Counter updateChildCounterParameter() at{DateTime.Now.ToString("hh:mm:ss.fff")}");
    }

}
