<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">P06.BlazorServerApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Todo">
                <span class="oi oi-plus" aria-hidden="true"></span> Todo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Sales">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sales
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Order">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Order Entry
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Teams">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Teams
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Parent">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Parent
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Lifecycle">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Lifecycle
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="AsyncLoading">
                <span class="oi oi-list-rich" aria-hidden="true"></span> AsyncLoading
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="FormEdit">
                <span class="oi oi-list-rich" aria-hidden="true"></span> FormEdit
            </NavLink>
        </li>
        
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="StateManagement">
                <span class="oi oi-list-rich" aria-hidden="true"></span> StateManagement
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
