@using Microsoft.AspNetCore.Http
@using P03.DotNetCoreMVC.Utility.Models;
@using P03.DotNetCoreMVC.Utility.WebHelper
@if (base.Context.User?.Identity?.IsAuthenticated ?? false)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello Cookie:  " + base.Context.User.Identity.Name + "!", "Index", "Home", routeValues: null, htmlAttributes: new { title = base.Context.User.Identity.Name })
        </li>
        <li><a href="~/DFourthAuthen/Logout">Log out</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="~/DFourthAuthen/Login"> Log in </a>
        </li>
    </ul>
}