
@{
    ViewData["Title"] = "TestResourceFilter";
    Console.WriteLine("This is TestResourceFilter View()");
}

<h1>TestResourceFilter</h1>

<h2>Action Time: @base.ViewBag.Now.ToString("yyyy-MM-dd HH:mm:ss fff")</h2>

<h2>View Time: @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss fff")</h2>




